{% extends 'base.html.twig' %}

{% block title %}Add Categorie{% endblock %}

{% block body %}
    
    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('app_categorie_index') }}" class="btn btn-outline-dark">back to list</a>
{% endblock %}
